.bg-color {
  background-color: $GBG-color;
  padding-bottom: 0;
  margin-bottom: 0;
}
.info_footer {
  margin: 5px 0;
  padding: 5px;
  display: flex;
  flex-direction: row;
  gap: 70px;
}
.bot-logo {
  margin-top: 50px;
  margin-bottom: 20px;
}
.adress {
  color: $HWLetters-color;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.42px;
  margin: 0;
}
.foot-cont-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.footer-contacts {
  color: $footer-cont-color;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.42px;
  text-decoration: none;
}
.ft-join {
  color: $HWLetters-color;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 3%;
  text-transform: uppercase;

  margin-top: 50px;
  margin-bottom: 20px;
}
.team-socials-ft {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.bubble-bg {
  width: 44px;
  height: 44px;
  background-color: $ft-socials-color;
  border-radius: 50%;

  transition-property: background-color, transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    background-color: $HB-color;
    border-radius: 50%;
    cursor: pointer;

    transform: scale(1.05);
  }
}
.t-instagram2,
.t-twitter2,
.t-facebook2,
.t-linkedin2 {
  width: 20px;
  height: 20px;
  fill: $HWLetters-color;
  margin: 12px;
}
.ft-form {
  display: flex;
  flex-direction: column;
}
.form-ttl {
  font-weight: 700;
  font-size: 14px;
  color: $HWLetters-color;
  text-transform: uppercase;

  padding: 0;
  margin: 50px 0 20px 0;
}
.email-btn {
  display: flex;
  gap: 12px;
}
.footer-em {
  width: 358px;
  height: 50px;
  background-color: $GBG-color;

  border: 1px solid $footer-cont-color;
  border-radius: 6px;

  font-size: 16px;
  font-weight: 400;
}
.footer-email {
  background-color: $GBG-color;

  border: none;
  outline: none;

  font-size: 16px;
  font-weight: 400;
  color: $HWLetters-color;

  margin: 15px 295px 15px 16px;
}
.ft-sign-up {
  width: 200px;
  height: 50px;

  color: $HWLetters-color;
  background-color: $HB-color;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;

  text-decoration: none;
  border: none;
  border-radius: 7px;

  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}
.text-shadow-drop-bottom {
  &:hover {
    animation: text-shadow-drop-bottom 0.6s both;
  }
}
@keyframes text-shadow-drop-bottom {
  0% {
    text-shadow: none;
  }
  100% {
    text-shadow: 0 6px 18px rgba(0, 0, 0);
  }
}
.plane {
  width: 24px;
  height: 24px;

  fill: $WLetters-color;

  align-items: center;
  justify-content: center;
}
