@media screen and (max-width:480px){
    .container {
        max-width: 480px;
    }
    
    .section__characteristics--list {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}