@media screen and (max-width: 480px) {
  .container {
    width: 480px;
    margin: 0 auto;
  }
  .header {
    .header__logo {
      margin: 25px 0 24px 15px;
    }
    .header__pages--list {
      display: none;
    }
    .top_bar {
      display: none;
    }
  } 
  .menu-toggle {
    display: flex;
    margin: 10px 10px 10px 276px;
    outline: none;
    border: none;
  }
  .phone-menu {
    background-color: white;
    width: 40px;
    height: 40px;
    outline: none;
    border: none;
  }
  .back-img {
    width: 480px;
    height: 400px;
    background-image: linear-gradient(to bottom, rgba(75, 75, 75, 0.5), rgba(75, 75, 75, 0.4)),
      url(/images/header-background-img.jpg);
  }
  .GB_section {
    width: 480px;
    height: 400px;
  }
  .GB__section-opener-title {
    @include text(
      $txt-color: $HWLetters-color,
      $txt-weight: 900,
      $txt-size: 26px,
      $txt-spacing: 2.64px,
      $txt-transform: uppercase
    );
    margin: 0 204px 198px 204px;
    width: 360px;
    height: 84px;
    display: flex;
    margin-bottom: 10px;
  }
  .backdrop {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .no-scroll {
    overflow: hidden;
  }
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 450px;
    height: 609px;
    padding: 15px;
    background-color: white;
    padding: 0;
    z-index: 3;
  }
  .pop-up-title {
    @include text(
      $txt-color: $DGLetters-color,
      $txt-weight: 700,
      $txt-size: 20px,
      $txt-spacing: normal,
      $txt-transform: none
    );
    height: 60px;
    width: 370px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 40px 0 40px;
  }
  .pop-up-form {
    margin-left: 40px;
  }
  .form-sub-ttl {
    @include text(
      $txt-color: $LGLetters-color,
      $txt-weight: 400,
      $txt-size: 12px,
      $txt-spacing: normal,
      $txt-transform: none
    );
    text-align: left;
  }
  .form-outline {
    width: 370px;
    height: 40px;
  }
  .form-inp {
    width: 320px;
  }
  .message-box {
    width: 370px;
    height: 120px;
  }
  .your-message {
    width: 330px;
    text-align: left;
  }
  .chars__section {
    margin-bottom: 94px;
    width: 450px;
    margin: 0 auto;
  }
  .section__characteristics--list {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    align-items: center;
    padding: 0;
  }
  .char__section--list {
    max-width: 450px;
    height: 224px;
    &:nth-child(1)::before {
      margin: 0 auto;
    }
    &:nth-child(2)::before {
      margin: 0 auto;
    }
    &:nth-child(3)::before {
      margin: 0 auto;
    }
    &:nth-child(4)::before {
      margin: 0 auto;
    }
  }
  .char__section--title {
    text-align: left;
  }
  .ex__section {
    display: none;
  }
  .team__section {
    margin: 0 auto;
    padding-top: 0;
    padding-bottom: 70px;
    width: 480px;
  }
  .title3 {
    @include text(
      $txt-color: $DGLetters-color,
      $txt-weight: 700,
      $txt-size: 28px,
      $txt-spacing: 1.08px,
      $txt-transform: none
    );
  }
  .team__section--list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .clients__section {
    margin: 0 auto;
    width: 480px;
  }
  .title4 {
    @include text(
      $txt-color: $DGLetters-color,
      $txt-weight: 700,
      $txt-size: 28px,
      $txt-spacing: 1.08px,
      $txt-transform: none
    );
  }
  .clients__section--list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
  }
  .info_footer {
    margin: 5px 0;
    padding: 5px;
    display: flex;
    flex-direction: column;
    gap: 0px;
    width: 480px;
    justify-content: center;
    margin: 0 auto;
  }
  .top-sec {
    display: flex;
    flex-direction: column;
    gap: 0px;
    justify-content: center;
  }
  .team-socials-ft {
    justify-content: center;
  }
  .footer-em{
    width: 460px;
  }
  .left-ft,
  .middle-ft,
  .right-ft {
    text-align: center;
  }
  .email-btn {
    display: flex;
    gap: 12px;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
  }
  .projects--list {
    width: 768px;
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 0;
    gap: 30px;
  }
  .classes__section{
    width: 326px;
    height: 91px;
    margin: 0;
  }
  .classes__section--list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0;
    gap: 10px;
    justify-content: left;
  }
  .projects--list{
    margin: 0 auto;
  }
  .projects--samples {
    width: 450px;
    justify-content: center;
  }
  .sample-desc, .slide-in-bottom {
    width: 450px;
  }
  .sample-photo {
    margin: 0 auto;
  }
  .project-title {
    text-align: left;
  }
}
