$HB-color: #2196f3;
$BLetters-color: #000000;
$DGLetters-color: #212121;
$LGLetters-color: #757575;
$GBG-color: #2f303a;
$WLetters-color: #ffffff;
$WHighlight-color: #f5f4fa;
$WH2-color: #ececec;
$PageC-color: #1e1e1e;
$logoH-color: #000;
$HWLetters-color: #fff;
$grey-color: #afb1b8;
$footer-cont-color: rgba(255, 255, 255, 0.6);
$ft-socials-color: rgba(255, 255, 255, 0.1);
$overlay-color: rgba(47, 48, 58, 0.8);
$light-black-color: rgba(0, 0, 0, 0.1);
$form-g-color: rgba(33, 33, 33, 0.2);
$opgrey: rgba(117, 117, 117, 0.5);
